/* fontfamily  */
@font-face {
  font-family: 'Objective-bold';
  font-style: normal;
  font-weight: 400;
  src: url('~assets/fonts/Objective_Woff2/Objective-Bold.woff2') format('woff2');
}

$fontFa: 'Objective-bold', sans-serif;
$fontFaJa: 'Noto sans JP', sans-serif;
$fontFaEn: 'Montserrat', sans-serif;
$fontFaNo: 'Roboto', sans-serif;

// メディアクエリ
$pc: 'only screen and (min-width:769px) ';
$sp: 'only screen and (max-width:769px) ';

/* Base Color. */
$baseThemeColor: #111;
$baseFontColor: #fff;

/* Header Card Color */
$primary: #22d2a0;
$secondary: #192824;
$background: #192824;
$green: #1fc11b;
$yellow: #ffd913;
$orange: #ff9c55;
$red: #ff5555;
